* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style pada body */
body {
    font-family: Arial, sans-serif;
    background-color: #F9F7F7; /* Latar belakang warna terang */
    color: #333;
}

/* Gaya untuk header */
header {
    background-color: #DBE2EF; /* Biru pastel untuk header */
    padding: 1.5em;
    text-align: center;
}

header h1 {
    font-size: 2em;
    color: #112D4E; /* Biru gelap untuk judul */
}

header p {
    font-size: 1.2em;
    color: #333;
}

/* Gaya untuk navigasi */
nav {
    background-color: #3F72AF; /* Biru cerah untuk navigasi */
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: #F9F7F7; /* Putih terang untuk link */
    font-weight: bold;
}

/* Style konten utama */
main {
    max-width: 1500px;
    margin: 0.5em auto;
    padding: 1em;
}

/* Style untuk setiap section*/
section {
    margin-bottom: 3em;
    text-align: center;
}

/* Gstyle grid lagu */
.song-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
    margin-top: 1em;
}

.song {
    background-color: #DBE2EF; /* Biru pastel untuk latar belakang lagu */
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

*/ untuk gambar */
.song img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

/* judul lagu */
.song h3 {
    font-size: 1.1em;
    color: #112D4E; 
}

/* Untuk link */
.song a {
    text-decoration: none;
    color: #3F72AF; 
    font-weight: bold;
}

/* Style feedback */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    background-color: #F9F7F7; 
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
}

form input, form select, form textarea, form button {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #3F72AF; 
    width: 80%;
}

form button {
    background-color: #112D4E; 
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #3F72AF; 
}

/* Style untuk footer */
footer {
    text-align: center;
    padding: 1em;
    background-color: #DBE2EF; 
    color: #333;
    font-size: 0.9em;
}
